<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" data-provider-thread-count="1" parallel="tests">
	<test thread-count="5" name="Test1">
		<parameter name="browser" value="chrome" />
		<classes>
			<!-- <class name="com.qa.company.tests.OpenMRSTestWithExcelDataProvider" 
				/> -->
			<class name="com.test.tests.WorldOMeter" />
		</classes>
	</test> <!-- Test -->
	
		<!-- <test thread-count="5" name="Test2">
		<parameter name="browser" value="firefox" />
		<classes>
			<class name="com.qa.company.tests.OpenMRSTestWithExcelDataProvider" 
				/>
			<class name="com.test.tests.TestDataProvider" />
		</classes>
	</test> Test -->
</suite> <!-- Suite -->
